<!-- header -->
<%- include('../../views/partials/admin/header') %>

<div class="wrapper">
  <%- include('../../views/partials/admin/sidebar') %>

  <!-- Main content -->
  <div class="main-content">
    <h1>Welcome to the Admin Dashboard</h1>
    <!-- <p>Your content goes here. You can add more text or components as needed.</p> -->
  </div>
</div>

<!-- footer -->
<%- include('../../views/partials/admin/footer') %>
