/* General Body and Font Styling */
body {
  font-family: "Arial", sans-serif;
  color: #333;
  line-height: 1.6;
}

h3,
h6 {
  font-family: "Georgia", serif;
  font-weight: bold;
}

h3 {
  color: #2c3e50;
  font-size: 32px;
  margin-bottom: 20px;
}

h6 {
  color: #16a085;
  font-size: 20px;
}
.mail {
  color: #7f8c8d;
}
.mail:hover {
  color: #312f2f;
}
.mail:visited {
  color: #7f8c8d;
}

.contact-section {
  background: url("/img/contact.jpg") no-repeat center center;
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center; /* Centers the image */
  padding: 10px 0;
  color: white;
  height: 350px; /* Adjust height as needed */
}

/* Ensure the image scales properly on mobile */
@media (max-width: 767px) {
  .contact-section {
    background-size: 100% auto; /* Stretch the image to full width */
    background-position: top center; /* Align the image to the top */
    height: 100px; /* Adjust height for mobile */
  }
}

/* Breadcrumb Styling */
.breadcrumb__text {
  padding-top: 20%;
  border-radius: 5px;
}

.breadcrumb__links a {
  color: #2980b9 !important;
  text-decoration: none;
  font-weight: bold;
  margin-right: 5px;
}

.breadcrumb__links span {
  color: #7f8c8d;
}

.contact-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
  color: #2c3e50;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-group textarea {
  height: 150px;
}

.form-group button {
  background-color: #2980b9;
  color: #fff;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #1abc9c;
}

.contact-info {
  text-align: center;
  margin-top: 50px;
}

.contact-info h6 {
  color: #16a085;
  font-size: 24px;
  margin-bottom: 15px;
}

.contact-info p {
  font-size: 16px;
  color: #7f8c8d;
}

/* Loading Overlay */
/* Loading Overlay */
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Ensure it appears above everything */
  display: none;
  /* Initially hidden */
}

#loadingSpinner {
  color: white;
}
